@import "../variables.scss";

.partner {
	max-width: 1440px;
	width: calc(100% - 200px);
	margin: 0 auto;
	height: 296px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #ffffff;
	box-shadow: -10px 44px 89px 8px rgba(0, 25, 225, 0.05);
	border-radius: 20px;
	padding-left: 60px;
	.partner__left {
		width: 467px;
		height: 216px;
		.info {
			p:first-child {
				font-weight: 400;
				font-size: 14px;
				line-height: 130%;
				letter-spacing: 0.003em;
				color: $primary-main;
				margin-bottom: 10px;
			}
			p:last-child {
				font-weight: 400;
				font-size: 16px;
				line-height: 120%;
				letter-spacing: 0.003em;
				color: $sub-title;
				margin-bottom: 40px;
			}
			h2 {
				width: 353px;
				font-weight: 700;
				font-size: 42px;
				line-height: 120%;
				letter-spacing: 0.003em;
				color: $color-text;
				margin-bottom: 20px;
			}
		}
		.partner__btnInvite {
			width: 206px;
			height: 40px;
			background: $white;
			border: 1px solid $primary-main;
			color: $primary-main;
			border-radius: 22px;
			transition: all 0.5s ease-in-out;

			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2px 0;
			gap: 4px;

			p {
				font-weight: 400;
				font-size: 16px;
				line-height: 120%;
			}
			&:hover {
				color: #5d43ff;
				border: 1px solid #5d43ff;
			}
		}
	}
	.partner__right {
		position: relative;
		display: flex;
		width: 550px;
		height: 100%;
		div {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			width: 280px;
			height: 280px;
		}
		.right__image_one {
			position: absolute;
			z-index: 7;
			left: 0px;
			top: 97px;
			background: $color-text;
			box-shadow: 0px 14px 22px rgba(21, 21, 21, 0.08);
			border-radius: 150px;
			animation: aniOne 9s infinite;
		}
		.right__image_two {
			position: absolute;
			z-index: 7;
			left: 270px;
			top: -82px;
			background: #a8dadc;
			box-shadow: 0px 14px 22px rgba(21, 21, 21, 0.08);
			border-radius: 150px;
			animation: twoOne 9s infinite;
		}
		.blockBlur {
			position: absolute;
			z-index: 5;
			width: 520px;
			height: 520px;
			left: 281px;
			top: 115px;
			background: linear-gradient(113.48deg, #ff8de6 7.05%, #4c3fe7 105.43%);
			opacity: 0.2;
			filter: blur(112px);
		}
		@keyframes aniOne {
			0% {
				top: 97px;
			}
			50% {
				top: -80px;
			}
			100% {
				top: 97px;
			}
		}
		@keyframes twoOne {
			0% {
				top: -82px;
			}
			50% {
				top: 80px;
			}
			100% {
				top: -82px;
			}
		}
	}
}
