@import "../variables.scss";

.container {
	max-width: 1440px;
	width: calc(100% - 200px);
	margin: 0 auto;
	.conditions__top {
		.top__subTitle {
			font-weight: 400;
			font-size: 14px;
			line-height: 130%;
			letter-spacing: 0.003em;
			color: $primary-main;
			margin-bottom: 20px;
		}
		.top__title {
			width: 1000px;
			font-weight: 700;
			font-size: 42px;
			line-height: 120%;
			letter-spacing: 0.003em;
			color: $color-text;
		}
	}
	.conditions__middle {
		background: $white;
		box-shadow: 20px 34px 59px 7px rgba(0, 25, 225, 0.05);
		border-radius: 20px;
		margin: 40px 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 40px;
		p {
			border-bottom: 1px solid $stroke;
		}
		p {
			border-bottom: 1px solid $stroke;
		}
		.left__text,
		.bottom__text {
			padding: 12px 0 12px 60px;
			border-right: 1px solid $stroke;
		}
		.bottom__text {
			border-bottom: none;
		}
		.right__text {
			font-weight: 500;
			font-size: 16px;
			line-height: 120%;
			letter-spacing: 0.003em;
			color: $color-text;
			padding: 11.4px 0 11.4px 60px;
		}
		.middle__right {
			p:last-child {
				font-weight: 500;
				font-size: 16px;
				line-height: 120%;
				letter-spacing: 0.003em;
				color: $color-text;
				padding: 11.4px 0 11.4px 60px;
			}
		}
	}
	.conditions__bottom {
		display: flex;
		justify-content: space-between;

		span {
			max-width: 953px;
			width: 100%;
			font-weight: 500;
			font-size: 18px;
			line-height: 120%;
			letter-spacing: 0.003em;
			color: $color-text;
		}
		.btn__invite {
			cursor: pointer;
			position: relative;
			display: flex;
			background: linear-gradient(45.12deg, #7aafff -1.54%, $secondary 108.79%);
			border-radius: 22px;
			gap: 10.04px;
			padding: 10px 20px;
			z-index: 1;
			p {
				color: $white;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 120%;
				letter-spacing: 0.003em;
			}
			&::before {
				content: "";
				display: block;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #5d43ff;
				transition: all 0.5s ease-in-out;
				border-radius: 22px;
				z-index: -1;
			}

			&:hover::before {
				background: #5d43ff;
				opacity: 1;
			}
		}
	}
}
